.navbar {
    background-color: #26A69A;
}
.quem-somos{
 background-color: #B2DFDB;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #26A69A ;
}
.bg-footer{
    background-color: #26A69A;
    color: white;
}